a.news-single(href="#")
    .news-single__top.post__image-container
        img.lazy.news-single__thumbnail.post__featured-image(src=URLbase+"img/lazy/lazy-thumb-news-small.jpg" data-src=URLbase+"img/thumb-news-small.jpg" alt="#" title="#")

    .news-single__bottom
        h4.news-single__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
        span.news-single__date Datum: 18. 1. 2018